beautifulsoup4==4.11.1
boto3==1.23.10
botocore==1.26.10
certifi==2022.6.15
charset-normalizer==2.0.12
cheroot==8.6.0
click==8.0.4
colorama==0.4.5
dataclasses==0.8
deep-translator==1.5.0
filelock==3.4.1
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
jaraco.functools==3.4.0
jmespath==0.10.0
joblib==1.1.0
more-itertools==8.13.0
numpy==1.19.5
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
regex==2022.6.2
requests==2.27.1
s3transfer==0.5.2
sacremoses==0.0.53
sentencepiece==0.1.96
six==1.16.0
soupsieve==2.3.2.post1
tokenizers==0.9.4
torch==1.10.1+cu102
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu102
tqdm==4.64.0
transformers==4.16.2
typing_extensions==4.1.1
urllib3==1.26.9
web.py==0.62
zipp==3.6.0
